---
import MainLayout from "../layouts/MainLayout.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
</head>
<body>
  <MainLayout title="CV">
    <p>
      Hello! I’m Lina Augusta Meland, and this is my custom-made website. I am
      studying commercial business and law at Copenhagen Business School. I am
      currently working on my bachelor’s thesis, investigating the issues
      surrounding deepfakes in the context of the new EU regulation on AI. On
      this website, you can find pictures and spice of me and my friends, giving
      you an insight into my life.
    </p>
  </MainLayout>
</body>
