---
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<body class="flex flex-col bg-slate-50 font-serif text-gray-900 items-center">
  <div class="flex flex-col py-12 gap-8 w-80 sm:w-[30rem]">
    <Navbar />
    <div class="text-xl">🌸</div>
    <div class="flex flex-col gap-8">
      <slot />
    </div>
  </div>
</body>